<%if authenticated? %>
  <%= render 'layouts/inner_content' do %>
    <h6 class="p-2">Welcome <%= @name.titleize %></h6>
  <% end %>
<%else%>
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 p-5 text-center">
        <%= link_to "Authenticate with Github", authenticate_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
<%end%>