<%= render 'layouts/inner_content' do %>
  <%= render 'single_gist_form' %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Note:</strong> Files missing name or code content will be skipped.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>