<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "SnippetMan", root_path, class: "navbar-brand" %>
    <% if authenticated? %>
      <%= link_to "Logout", logout_path, class: "btn btn-sm btn-outline-secondary" %>
    <% end %>
  </div>
</nav>