<div class="container">
  <div class="row">
    <div class="col col-xs-12 p-5 text-center">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link #{current_page?('/') ? 'active': ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Private Gists", gists_path, class: "nav-link #{current_page?('/gists') || @path === '/gists' ? 'active': ''}" %>
        </li>
        <li class="nav-item">
          <%=
            link_to "Create Private Gist",
            new_gist_path,
            class: "nav-link #{current_page?('/gists/new') || @path === '/gists/new' ? 'active': ''}"
          %>
        </li>
      </ul>
      <%= yield %>
    </div>
  </div>
</div>